#company {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#company td, #company th {
    border: 1px solid #ddd;
    padding: 8px;
}

#company tr:nth-child(even){background-color: #f2f2f2;}

#company tr:hover {background-color: #ddd;}

#company th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}